@use '@styles/variables' as vars;

.item-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 24px;
}

.item-information {
    display: flex;
    flex-direction: column;
}

.image-wrapper {
    margin-right: 1.6rem;
}

.item__image-main {
    padding: 4.9rem 7.4rem;
    border: 1px solid vars.$card-background-color;
}

.item__title-main {
    font-weight: 700;
    font-size: 2.4rem;
    margin: 0 0 16px 0;
}

.item-description {
    font-size: 1.4rem;
    margin-bottom: 24px;
}

.item-details {
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 16px;
}

.purchase-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
}

.item__price-main {
    font-size: 3.6rem;
    color: vars.$active-color;
    margin-right: 16px;
}

.quantity-wrapper {
    display: flex;
}

.control {
    cursor: pointer;
    border: 1px solid vars.$primary-color;
    width: 4rem;
    height: 4rem;
    background-color: vars.$white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity {
    border: none;
    box-sizing: border-box;
    padding: 0;
    width: 10rem;
    height: 4rem;
    border-top: 1px solid vars.$primary-color;
    border-bottom: 1px solid vars.$primary-color;
    text-align: center;
    font-size: 2.4rem;
}

.quantity:focus {
    outline: none;
}

.add-btn {
    text-transform: none;
    padding: 0;
    margin: 0 1.6rem;
    width: 16rem;
    height: 4rem;
    border-radius: 10px;
    border: none;
    background-color: vars.$active-color;
    color: vars.$white;
    font-size: 2.4rem;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.add-btn:hover {
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
    background: vars.$active-color-hover;
}


/* Мобильная версия */

@media (max-width: 870px) {
    .item-page {
        flex-direction: column;
        margin-bottom: 2.4rem;
    }

    .image-wrapper {
        margin: 0 0 1.6rem;
        display: flex;
        justify-content: center;
        width: 100vw;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 50%);
    }

    .purchase-wrapper {
        flex-wrap: wrap;
    }

    .item__image-main {
        padding: 0;
        margin: 1.6rem 0;
        height: 16.8rem;
        border: none;
    }

    .item__price-main {
        width: calc(100% - 24px);
        order: -1;
        margin: 0 0 1.6rem 0;
    }

    .favorite__icon-main {
        order: 1;
        margin-bottom: 1.6rem;
    }

    .quantity-wrapper {
        order: 2;
    }

    .quantity {
        width: 6rem;
    }

    .add-btn {
        order: 3;
        margin: 0 0 0 2.7rem;
    }
}