@use '@styles/variables' as vars;

.overlay-error {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
}

.error-item {
    margin: 7.5rem auto;
    padding: 2rem;
    background: vars.$white;
    border: 2px solid vars.$secondary-color;
    border-radius: 10px;
    width: 35rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
}

.error-title {
    margin-bottom: 3rem;
    font-size: 2.2rem;
}

.error-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: vars.$secondary-color;
    cursor: pointer;
}

.error-close:hover {
    opacity: 1;
}