@use '@styles/variables' as vars;

.header {
    margin: 1.6rem 2.4rem 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__search-wrapper {
        display: flex;
        align-items: center;
    }

    &__icon-wrapper {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .btn {
        background-color: transparent;
        display: flex;
        align-items: center;
    }
}