/* Страница товара */

.item-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 24px;
}

.item-information {
    display: flex;
    flex-direction: column;
}

.image-wrapper {
    margin-right: 16px;
}

.item__image-main {
    padding: 49px 74px;
    border: 1px solid #f2f2f2;
}

.item__title-main {
    font-weight: 700;
    font-size: 24px;
    margin: 0 0 16px 0;
}

.item-description {
    font-size: 14px;
    margin-bottom: 24px;
}

.item-details {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 16px;
}

.purchase-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
}

.item__price-main {
    font-size: 36px;
    color: #e97f03;
    margin-right: 16px;
}

.quantity-wrapper {
    display: flex;
}

.control {
    cursor: pointer;
    border: 1px solid #323232;
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity {
    border: none;
    box-sizing: border-box;
    padding: 0;
    width: 100px;
    height: 40px;
    border-top: 1px solid #323232;
    border-bottom: 1px solid #323232;
    text-align: center;
    font-size: 24px;
    color: #000;
}

.quantity:focus {
    outline: none;
}

.add-btn {
    margin: 0 16px;
    width: 160px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #e97f03;
    color: #ffffff;
    font-size: 24px;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.add-btn:hover {
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
    background: #e99330;
}

/* Мобильная версия */

@media (max-width: 870px) {
    .item-page {
        flex-direction: column;
        margin-bottom: 24px;
    }

    .image-wrapper {
        margin: 0 0 16px;
        display: flex;
        justify-content: center;
        width: 100vw;
        background: -webkit-linear-gradient(360deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 50%);
        background: -moz-linear-gradient(360deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 50%);
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.15) 50%);
    }

    .purchase-wrapper {
        flex-wrap: wrap;
    }

    .item__image-main {
        padding: 0;
        margin: 16px 0;
        height: 168px;
        border: none;
    }

    .item__price-main {
        width: calc(100% - 24px);
        order: -1;
        margin: 0 0 16px 0;
    }

    .favorite__icon-main {
        order: 1;
        margin-bottom: 16px;
    }

    .quantity-wrapper {
        order: 2;
    }

    .quantity {
        width: 60px;
    }

    .add-btn {
        order: 3;
        margin: 0 0 0 27px;
    }
}